@font-face {
     font-family: 'Poppins';
     src: url('../fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('ttf');

          
}


@font-face {
     font-family: 'Noto_Serif';
     src: url('../fonts/Noto_Serif/static/NotoSerif-Black.ttf') format('ttf')
}






